@media screen and (max-width: 576px){
    .pg2cardbox{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .card{
        margin: 0 auto;
        width: 90%;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .pg2cardbox{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}