* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1A0B2E;
    --txtclr: #FFFFFF;
    --secondary-color: #00FF88;
    --pg3bg: #230E3D;
    --pg3cardbg: #351165
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-color);
    color: var(--txtclr);
}

/* header section */
.headercont {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--txtclr);
    height: 15vh;
    width: 100%;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 2rem;
}

#spclgradient {
    background: linear-gradient(90deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 51%,
            rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.navbar nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.navbar nav ul li {
    list-style: none;
    color: var(--txtclr);
    margin: 32px;
    font-weight: 500;
    cursor: pointer;
}

.subscribebtn {
    background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    font-size: 1rem;
    color: var(--txtclr);
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 10000px;
    margin: 24px auto;
    font-weight: 600;
}

#spclbtn {
    display: none;
}

.subscribebtn:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* page 1 */
.page1 {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* border: 2px solid green; */
}

.pg1cont {
    width: 550px;
    height: 100%;
    margin: 0 auto;
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pg1icon {
    width: 50%;
    height: 50%;
    /* border: 2px solid white; */
}

.pg1imgcont {
    width: 100%;
    height: 100%;
    background-image: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 1;
}

.pg1imgcont img {
    width: 25%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.badge {
    z-index: 3;
    position: absolute;
    top: 30vh;
    left: 55vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 75px;
    height: 38px;
    text-align: center;
    padding: 8px 16px;
    border-radius: 1000px;
}

.pg1title {
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
    color: var(--txtclr);
}

.pg1subtitle {
    color: var(--txtclr);
    font-weight: 300;
    font-size: 1rem;
}

.pg1btns {
    margin-top: 14px;
}

.pg1btn1 {
    background: linear-gradient(90deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: var(--txtclr);
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 10000px;
    margin-right: 8px;
}

.pg1btn2 {
    width: 147px;
    height: 44px;
    background: transparent;
    border-radius: 10000px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.pg1btn1:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.pg1btn2:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* page2  */
.pg2{
    width: 100%;
    height: 100vh;
}
.pg2box1{
    width: 75%;
    margin: 50px  auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pg2box1title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.pg2box1contnt{
    text-align: center;
    font-weight: 400;
}
.pg2box1ftr{
    margin-top: 16px;
}
.pg2 hr{
    border: 1px solid var(--txtclr);
    opacity: 10%;
    width: 75%;
    margin: 80px auto;
}
.pg2cardbox{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* .pg2card{
    width: 240px;
    height: 95px;
} */

.pg2cardhdr{
    font-size: 3rem;
    font-weight: 900;
    color: var(--secondary-color);
    text-align: center;
    height: 60px;
}
.pg2cardtitl{
    text-align: center;
}
/* page 3 */
.pg3{
    width: 100%;
    background-color: var(--pg3bg);
    border: 2px solid white;
}
.pg3hd{
    width: 75%;
    margin: 120px auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.pg3cardcont{
    width:75%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.pg3card{
    background-color: var(--pg3cardbg);
    border-radius: 40px;
}
.pg3cardpi{
    width: 60px;
    height: 60px;
    margin-top: 42px;
    margin-left: 50px;
}
.pg3cardpi img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pg3cardtitle{
    margin-top: 21px;
    margin-left: 40px;
    font-size: 1.5rem;
}
.pg3cardtxt{
    margin: 16px 40px;
}
.pg3card1{
    grid-row: span 2;
    padding-top: 112.5px;
}

.pg3card2{
    grid-column: span 2;
}
.pg3card3{
    grid-column: span 2;
}
.pg3card4{
    grid-column: span 2;
}
.pg3card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}